@model WebApplication2.Models.DeletePhotoNeeds

@{
    ViewBag.Title = "view";

}





<h2>Properties Of Picture:</h2>

@using (Html.BeginForm())
{
    <h2> @Model.deleting  <br /><br /> </h2>
    <img src="@Model.deleting" />
    @Html.DisplayFor(Model.PhotoDates().ToString())



}