@model WebApplication2.Models.DeletePhotoNeeds

@{
    ViewBag.Title = "view";

}





<h2>Properties Of Picture:</h2>

@using (Html.BeginForm())
{
    <h2> @Model.deleting  <br /><br /> </h2>
    <img src="@Url.Content(Model.deleting)" />

    <br /><br />
    @Url.Content(Model.date)

    <input type="submit" id="deleteIt" value="Delete" />

}



<script>
  $('#deleteIt').click(function () {
        $.post("@Url.Action("DeletePhoto")", function () {
        window.location.href = "Photos";
        });
    });



</script>