@model WebApplication2.Models.ImageWebNeeds
@{
    ViewBag.Title = "imageWeb";
}


<h2 id="demo">
    Server Status:
    @Html.DisplayFor(model => model.ServerStatus, new { htmlAttributes = new { @class = "form-control" } })
</h2>



<h4 id="demo">
    Num of pictures in outputDir:
    @Html.DisplayFor(model => model.donePictures, new { htmlAttributes = new { @class = "form-control" } })
</h4>



<br /><br /><br />

            <table width="300px" style="border-spacing:100px">
                <tr>
                    <th>Name</th>
                    <th>ID Number</th>
                </tr>
                <tr>
                    <td>Or Aharoni</td>
                    <td>208250746</td>
                </tr>

                <tr>
                    <td>Yair Refaeli</td>
                    <td>206646168</td>
                </tr>


            </table>


<script>



    $(function () {
        refresh();
    }




    $("h4").before(function () {

            $.ajax(
                $("h4").html("mips");
            setTimeout(refresh, 100000);
            $("h4").html("msips");


        });







</script>